@function color($key) {
    @if map-has-key($colors, $key) {
        @return map-get($colors, $key);
    }

    @warn "Unknown color: `#{$key}` in $colors.";
    @return null;
};

@mixin breakpoint($breakpoint) { 
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
            @content;
        }
    }

    @else {
        @warn "Can't find specified breakpoint: `#{$breakpoint}`."
    }
};

@mixin webkit-no-touch-highlight {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}


@media screen and (max-width: 0em), screen and (min-width: map-get($breakpoints, medium)) {
    .show-for-small {
        display: none !important;
    }
}

@media screen and (max-width: map-get($breakpoints, medium)) {
    .hide-for-small {
        display: none !important;
    }    
}
