.dashboard {
    h2 {
        margin-bottom: 8px;
    }

    &__graphs {
        display: flex;
        flex-flow: column;
        margin-bottom: 24px;

        .exchange {
            &__pair {
                margin: 12px 0;
                padding: 6px 0;
                display: flex;
                overflow: hidden;
                flex-flow: column nowrap;
                box-sizing: border-box;
                background-color: #fff;
                box-shadow: 0 9px 22px 0 #23213416;
                border-radius: 8px;
    
                h3 {
                    font-size: 18px;
                    line-height: 24px;
                }
            }

            &__name, &__value {
                margin: 0 16px;
            }

            &__graph {
                padding: 0 32px;
                box-sizing: border-box;
                display: flex;
                width: 100%;
                margin-top: 4px;

                canvas {
                    box-sizing: border-box;
                    width: 100%;
                }
            }

            &__period {
                display: flex;
                position: relative;
                box-sizing: border-box;
                justify-content: space-between;
                font-size: 12px;
                line-height: 1;
                padding: 0 10px;
                padding-top: 8px;
                color: color(dark-gray);

                .period__from, .period__to {
                    opacity: 0.5;
                }

                &::before {
                    content: " ";
                    top: 2px;
                    right: 24px;
                    left: 24px;
                    position: absolute;
                    display: block;
                    height: 4px;
                    border: 1px solid #4846684C;
                    border-bottom: none;
                }
            }
        }
        
    }

    &__stats {
        display: flex;
        flex-flow: column;

        & > * {
            display: flex;
            flex-flow: column;
            margin: 12px 0;
        }

        .stat__data {
            font-size: 40px;
            line-height: 48px;
            margin-bottom: 4px;
        }
    }

    &__system-info {
        display: flex;
        flex-flow: column;
        margin-top: 28px;
        
        .info-title {
            margin: 0;
            font-weight: bold;
        }

        .sys-info {
            display: flex;
            flex-flow: column;
            list-style: none;
            margin: 0;
            padding: 0;

            &__item {
                margin-top: 16px;
                padding-left: 22px;
                position: relative; 
                
                &::before {
                    content: "";
                    top: 50%;
                    right: 0;
                    left: 0;
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    margin-top: -8px;
                    background-color: color(red);
                }
            }

            .online {
                &::before {
                    background-color: color(green);
                }
            }
        }
    }

    @include breakpoint(small) {
        h2 {
            margin-bottom: 12px;
        }
    }

    @include breakpoint(medium) {
        h2 {
            margin-bottom: 0;
        }

        &__graphs, &__stats, &__system-info .sys-info {
            flex-flow: row wrap;
            justify-content: space-between;

        }

        &__stats, &__system-info .sys-info {
            & > * {
                width: 30%;
            }
        }

        &__stats > * {
            max-width: 320px;
        }

        &__graphs {
            .exchange {
                &__pair {
                    width: 30%;
                    margin: 28px 0;
                }
            }
        }
    }

    @include breakpoint(large) {
        &__system-info {
            margin-top: 64px;
            flex-flow: row;
            justify-content: space-between;

            .info-title {
                flex: 1 1 auto;
            }

            .sys-info {   
                flex: 3 1 auto;

                &__item {
                    width: unset;
                    margin-top: 0;
                    flex: 1 1 auto;
                }
            }
        }
    }

    @include breakpoint(xlarge) {
        &__system-info {
            justify-content: flex-start;

            .info-title {
                flex: 0 0 auto;
            }

            .sys-info {
                flex: 0 0 auto;
                justify-content: flex-start;

                &__item {
                    margin-left: 56px;
                    width: unset;
                    margin-top: 0;
                }
            }
        }
    }
}
