.faq {
    h3 {
        padding: 5px 0;
        padding-left: 50px;
        margin: 40px 0 16px;

        &.faq-start {
            background-image: url('../i/faq-section-1.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 0 50%;
        }
    }

    &__accordion {
        display: flex;
        flex-flow: column;
        font-size: 14px;
        line-height: 21px;

        .accordion {
            &__item {
                @include webkit-no-touch-highlight;
                display: flex;
                flex-flow: column;
                margin-top: 8px;
                border-radius: 8px;
                box-shadow: 0 2px 2px 0 #4846681F;
                will-change: color, background-color, box-shadow;
                transition-property: color, background-color, box-shadow;
                transition-duration: 0.2s;
                transition-timing-function: ease-in-out;
                color: color(black);
                background-color: color(light-gray);
                position: relative;
                outline: none;

                &:first-child {
                    margin-top: 0;
                }

                &:not(.open):hover {
                    color: #fff;
                    background-color: color(primary);
                    box-shadow: 0 2px 3px 0 #FF901A55;

                    .accordion__button::before {
                        color: #fff;
                    }
                }

                &.open {
                    .accordion__button::before {
                        content: '\2012';
                        transform: rotateZ(0);
                        margin-top: -21px;
                        left: 0;
                    }
                }
            }

            &__button {
                cursor: pointer;
                position: relative;
                padding: 12px;
                padding-left: 48px;
                text-decoration: none;
                color: inherit;

                &::before {
                    content: "+";
                    top: 50%;
                    left: 0;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: 0 0 auto;
                    width: 42px;
                    height: 42px;
                    margin-top: -21px;
                    font-family: monospace;
                    font-size: 32px;
                    -webkit-transform: rotateZ(-90deg);
                    transform: rotateZ(-90deg);
                    color: color(primary);
                    will-change: content, transform, color;
                    transition-property: content, -webkit-transform;
                    transition-property: transform, content;
                    transition-property: transform, content, -webkit-transform;
                    transition-duration: 0.2s;
                    transition-timing-function: ease-in-out;
                }  
            }

            &__info {
                height: 0;
                transition-property: height;
                width: 100%;
                overflow: hidden;
                transition-duration: 0.25s;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

                .container {
                    width: 100%;
                    margin: 0;
                    padding: 12px 48px 26px;

                    p {
                        margin: 0;
                        margin-bottom: 24px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    @include breakpoint(small) {
        &__accordion {
            font-size: 16px;
            line-height: 24px;

            .accordion {
                &__button {
                    padding: 20px;
                    padding-left: 48px;
                }
            }
        }
    }

    @include breakpoint(medium) {
        h3.faq-start {
            padding: 16px;
            padding-left: 82px;
            line-height: 40px;
        }

        &__accordion {
            font-size: 18px;
        }
    }

    @include breakpoint(large) {
        h3.faq-start {
            padding: 21px;
            padding-left: 82px;
            line-height: 30px;
          
        }

        &__accordion {
            font-size: 18px;
        }
    }
}
