.general-info {
    .container {
        padding: 44px 16px 48px;
        align-items: flex-start;
    }
    
    &__intro {
        display: flex;
        width: 100%;
        flex-flow: column;

        .intro {
            &__text {
                display: flex;
                flex-flow: column;
                padding-bottom: 46px;

                h2 {
                    line-height: 28px;
                }

                .button {
                    align-self: center;
                    line-height: 60px;
                    padding: 3px 66.49px;
                    padding-bottom: 1px;
                }
            }

            &__features {
                padding: 0;
                list-style: none;
                display: flex;
                flex-flow: column nowrap;
                font-weight: bold;
                margin-top: 32px;
                margin-bottom: 42px;

                .feature-item {
                    padding-left: 24px;
                    position: relative;
                    margin-bottom: 20px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:before {
                        content: "";
                        top: 50%;
                        left: 0;
                        position: absolute;
                        margin-top: -4px;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: color(primary);
                    }
                }
            }

            &__preview {
                display: flex;
                margin-left: 42px;
                justify-content: center;
                margin-bottom: 4px;

                .preview {
                    position: relative;
                    width: 251px;
                    height: 480px;
                    background-image: url('../i/device.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;

                    video {
                        position: absolute;
                        top: 44px;
                        left: 15px;
                        width: 177px;
                        height: 311px;
                    }
                }
            }
        }
    }

    &__download {
        display: flex;
        justify-content: center;
        width: 100%;

        .download {
            box-sizing: border-box;
            width: 88px;
            height: 72px;
            padding: 0;
            border-radius: 6px;
            border: 2px solid #D4D4DD;
            margin-right: 16px;
            background-position: center center;
            background-repeat: no-repeat;

            &:last-child {
                margin-right: 0;
            }

            &__appstore {
                background-image: url('../i/apple.svg');   
                background-size: 32%;
            }
            
            &__playstore {
                background-image: url('../i/google-play.svg');
                background-size: 39%;
            }
        }
    }

    @include breakpoint(medium) {
        .container {
            padding: 48px 32px 5px;
        }

        &__intro {
            flex-flow: row;

            .intro {
                &__text {
                    padding-bottom: 0;

                    h2 {
                        font-size: 30px;
                        line-height: 36px;
                    }

                    .button {
                        align-self: flex-start;
                        padding: 1px 50.5px;
                        padding-top: 3px;
                    }
                }

                &__features {
                    font-size: 20px;
                    line-height: 24px;
                    margin: 36px 0;
                }

                &__preview {
                    margin: 0;

                    .preview {
                        width: 246px;
                        left: 6px;
                        height: 491px;

                        video {
                            top: 46px;
                            left: 10px;
                            width: 181px;
                            height: 317px;
                        }
                    }
                }
            }
        }

        &__download {
            justify-content: flex-start;
            position: relative;
            bottom: 59px;

            .download {
                width: unset;
                height: unset;
                padding: 6px;
                padding-left: 48.5px;
                padding-right: 12px;
                font-size: 12px;
                text-decoration: none;
                color: color(black);
                background-position: 14px 50%;
                background-size: 11.5%;

                p {
                    margin: 0;
                    line-height: 16px;

                    span {
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }

                &__appstore {
                    padding-right: 33px;
                    padding-left: 48px;
                    background-position: 14px 45%;
                    background-size: 9.42%;
                }
            }
        }
    }

    @media screen and (max-width: map-get($breakpoints, medium)) and (min-width: map-get($breakpoints, small)) {
        .container {
            padding: 48px 16px 56px;
        }
    }

    @include breakpoint(large) {
        .container {
            padding: 60px 64px 0;
            margin-bottom: -97px;
        }

        &__intro {
            .intro {
                &__text {
                    h2 {
                        font-size: 36px;
                        line-height: 42px;
                    }

                    .button {
                        align-self: flex-start;
                        padding: 1px 50.5px;
                        padding-top: 3px;
                    }
                }

                &__features {
                    font-size: 24px;
                    line-height: 28px;
                    margin: 32px 0 56px;
                }

                &__preview {
                    margin: 0;

                    .preview {
                        width: 328px;
                        left: 37px;
                        height: 653px;

                        video {
                            top: 60px;
                            left: 14px;
                            width: 240px;
                            height: 424px;
                        }
                    }
                }
            }
        }

        &__download {
            bottom: 169px;

            .download {
                padding-left: 48.5px;
                padding-right: 12.5px;

                &__appstore {
                    padding-left: 48px;
                    padding-right: 33px;
                    background-size: 9.35%;
                }
            }
        }
    }

    @include breakpoint(xlarge) {
        .container {
            padding: 112px 128px 42px;
            margin-bottom: 0;
        }

        &__intro {
            justify-content: space-between;

            .intro {
                &__text {
                    width: 480px;

                    h2 {
                        font-size: 40px;
                        line-height: 48px;
                    }
                }

                &__features {
                    margin: 64px 0 51px;
                }

                &__preview {
                    margin-right: 72px;

                    .preview {
                        left: 12px;
                    }
                }
            }
        }

        &__download {
            bottom: 54px;

            .download {
                padding-left: 48.5px;
                padding-right: 12.5px;

                &__appstore {
                    padding-left: 48px;
                    padding-right: 33px;
                    background-size: 9.35%;
                }
            }
        }
    }
}
