section.dashboard
    .container
        h2#dashboard SOL Dashboard
        .dashboard__wrapper.hidden
            .dashboard__graphs
                -
                    const pairsTestData = [
                        {name: 'BTC/EUR', value: 5610.01},
                        {name: 'BTC/NGN', value: 2317963.23},
                        {name: 'BTC/USD', value: 6360.13},
                        {name: 'BTC/ZAR', value: 91350.68},
                        {name: 'ZAR/EUR', value: 0.0617},
                        {name: 'ZAR/USD', value: 0.0702}
                    ]
                each pair in pairsTestData
                    .exchange__pair
                        h3.exchange__name=pair.name
                        span.exchange__value=pair.value
                        - const canvasId = pair.name.toLowerCase().replace('/', '-')
                        .exchange__graph
                            canvas(id=canvasId height="48")
                        .exchange__period
                            span.period__from
                            span.period__to

            .dashboard__stats
                p.stats__transactions
                    strong.stat__data
                    | transactions in last hour

                p.stats__users
                    strong.stat__data
                    | active users

                p.stats__availability
                    strong.stat__data
                    | 30 days availability

            .dashboard__system-info
                p.info-title SOL systems status:
                ul.sys-info
                    li.sys-info__item Blockchain core
                    li.sys-info__item Payments engine
                    li.sys-info__item Mobile apps
