section.faq
    .container
        h2#faq FAQ
        h3.faq-start Let's start
        .faq__accordion
            .accordion__item
                a(id="what-is-sol-wallet" href="#what-is-sol-wallet").accordion__button
                    | What is SOL Wallet?
                .accordion__info
                    .container
                        | We create a decentralized financial ecosystem for emerging markets which makes it simple for you to access financial products you have never used before. You can save your crypto and fiat money in the wallet, exchange between fiat and crypto currencies, send money transfers around the world, pay for goods and services with the linked card, get easy access to complicated financial products, withdraw your money at any time - all packed in simple mobile and web wallet apps.
            .accordion__item
                a(id="how-to-start-using-sol-wallet" href="#how-to-start-using-sol-wallet").accordion__button
                    |How to start using SOL Wallet?
                .accordion__info
                    .container
                        p It's as simple as install it and run! You can download the app or use the web wallet.
                        p
                            a(href="https://play.google.com/store/apps/details?id=com.universe.sol" title="Download SOL Wallet app" target="_blank" rel="noopener") Download the Android version
                        p It takes less than 60 seconds to create your account and start!
