section.general-info
            .container
                .general-info__intro
                    .intro__text
                        h2#general
                            | Get access to complicated financial products.
                            br 
                            | Instantly.
                            br 
                            | And no fees.
                        ul.intro__features
                            -
                                const features = [
                                    'Buy and sell digital assets in few clicks',
                                    'Exchange currencies at interbank rates',
                                    'Make free transfers. Anywhere'
                                ]

                            each feature in features
                                li.feature-item=feature
                        a(href="https://play.google.com/store/apps/details?id=com.universe.sol" 
                            target="_blank" rel="noopener" data-url="/sol-wallet/register").button.button-solid register

                    .intro__preview
                        .preview
                            video(src="assets/video/preview.mp4" autoplay loop)

                .general-info__download
                    a(
                        href="https://itunes.apple.com/us/app/foreman-wallet/id1437775981?l=ru&ls=1&mt=8"
                        target="_blank" rel="noopener"
                    ).download.download__appstore
                        p.hide-for-small Download from
                            br
                            span apple app store

                    a(
                        href="https://play.google.com/store/apps/details?id=com.universe.sol"
                        target="_blank" rel="noopener"
                    ).download.download__playstore
                        p.hide-for-small Download from
                            br
                            span google play store
