footer.main-footer.centered
    .container
        .footer-section
            a(href="/sol-wallet/").main-footer__logo
                img(src="assets/i/logo.svg", alt="SOL Wallet logo")
            .main-footer__socials
                -
                    const socials = [
                        {name: 'linkedin', link: 'https://www.linkedin.com/company/sol-wallet', img: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDE4IDE4Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyI+CiAgICAgICAgPHBhdGggZD0iTS03LTZoMzJ2MzJILTd6Ii8+CiAgICAgICAgPHBhdGggZmlsbD0iIzcxNkY5NCIgZD0iTS4yOTUgNS45NGgzLjcxN3YxMS45NDhILjI5NVY1LjkzOXpNMi4xNTUgMGEyLjE1NCAyLjE1NCAwIDEgMS0uMDA0IDQuMzA3QTIuMTU0IDIuMTU0IDAgMCAxIDIuMTU0IDB6TTYuMzQgNS45NGgzLjU2djEuNjMzaC4wNWMuNDk2LS45NCAxLjcwOC0xLjkzIDMuNTE0LTEuOTMgMy43NiAwIDQuNDU1IDIuNDc0IDQuNDU1IDUuNjkydjYuNTUzaC0zLjcxM3YtNS44MWMwLTEuMzg2LS4wMjQtMy4xNjktMS45My0zLjE2OS0xLjkzMiAwLTIuMjI3IDEuNTEtMi4yMjcgMy4wNjl2NS45MUg2LjM0MVY1LjkzOXoiLz4KICAgIDwvZz4KPC9zdmc+Cg=='},
                        {name: 'facebook', link: 'https://www.facebook.com/SOL-Wallet-607634832965667', img: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDE4IDE4Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyI+CiAgICAgICAgPHBhdGggZD0iTS03LTdoMzJ2MzJILTd6Ii8+CiAgICAgICAgPHBhdGggZmlsbD0iIzcxNkY5NCIgZD0iTTE2LjUzNCAwSC45NjZBLjk2Ni45NjYgMCAwIDAgMCAuOTY2djE1LjU2OGMwIC41MzQuNDMyLjk2Ni45NjYuOTY2aDguMzgxdi02Ljc3N2gtMi4yOFY4LjA4MmgyLjI4VjYuMTM0YzAtMi4yNiAxLjM4LTMuNDkgMy4zOTctMy40OS45NjYgMCAxLjc5Ni4wNzEgMi4wMzguMTAzVjUuMTFsLTEuMzk4LjAwMWMtMS4wOTcgMC0xLjMxLjUyMS0xLjMxIDEuMjg2djEuNjg2aDIuNjE2bC0uMzQgMi42NDFoLTIuMjc1VjE3LjVoNC40NmEuOTY2Ljk2NiAwIDAgMCAuOTY1LS45NjZWLjk2NkEuOTY2Ljk2NiAwIDAgMCAxNi41MzQgMHoiLz4KICAgIDwvZz4KPC9zdmc+Cg=='},
                        {name: 'twitter', link: 'https://twitter.com/solwallet', img: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxNSIgdmlld0JveD0iMCAwIDE4IDE1Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyI+CiAgICAgICAgPHBhdGggZD0iTS03LTloMzJ2MzJILTd6Ii8+CiAgICAgICAgPHBhdGggZmlsbD0iIzcxNkY5NCIgZD0iTTE3LjkyIDEuNzI0Yy0uNjYuMjkyLTEuMzY4LjQ5LTIuMTEyLjU3OUEzLjY4OSAzLjY4OSAwIDAgMCAxNy40MjUuMjY5YTcuMzU4IDcuMzU4IDAgMCAxLTIuMzM1Ljg5MiAzLjY3NiAzLjY3NiAwIDAgMC02LjI2NSAzLjM1M0ExMC40MzcgMTAuNDM3IDAgMCAxIDEuMjQ4LjY3M2EzLjY3NSAzLjY3NSAwIDAgMCAxLjEzOCA0LjkwOCAzLjY1OSAzLjY1OSAwIDAgMS0xLjY2Ni0uNDZ2LjA0N2EzLjY3OSAzLjY3OSAwIDAgMCAyLjk0OSAzLjYwNSAzLjY4NCAzLjY4NCAwIDAgMS0xLjY2LjA2MyAzLjY4IDMuNjggMCAwIDAgMy40MzQgMi41NTNBNy4zNzUgNy4zNzUgMCAwIDEgMCAxMi45MWExMC40MDUgMTAuNDA1IDAgMCAwIDUuNjM2IDEuNjUyYzYuNzYyIDAgMTAuNDYtNS42MDIgMTAuNDYtMTAuNDYgMC0uMTYtLjAwMy0uMzE4LS4wMS0uNDc2YTcuNDY2IDcuNDY2IDAgMCAwIDEuODM0LTEuOTAzeiIvPgogICAgPC9nPgo8L3N2Zz4K'}
                    ]
                    
                each item in socials
                    a(href=item.link target="_blank" rel="noopener").socials-item
                        img(src=item.img)
        ul.main-footer__menu
            -
                const menuItems = [
                    {text: 'Contacts', dataUrl: '/sol-wallet/contacts', link: 'contacts.html'},
                    {text: 'Terms and conditions', link: 'terms-and-conditions.html', 
                        target: '_blank', dataUrl: "/sol-wallet/terms_and_conditions"}
                ]

            each item in menuItems
                li.menu-item
                    a(href=item.link target=item.target data-url=item.dataUrl)=item.text

                
