header.main-header.centered
    .container
        a(href="/sol-wallet/").main-header__logo
            img(src="assets/i/logo.svg", alt="SOL Wallet logo")
        ul.main-header__menu.hide-for-small
            -
                const menu = [
                    {name: 'Blog', dataUrl: '/sol-wallet/blog', link: 'https://medium.com/solwallet', target: '_blank'},
                    {name: 'Support', dataUrl: '/sol-wallet/support', link: 'mailto:support@solwallet.org'},
                    {name: 'Login', dataUrl: '/sol-wallet/login', class: 'button', 
                        link: 'https://play.google.com/store/apps/details?id=com.universe.sol',
                        target: '_blank', rel: 'noopener'}
                ]
            each menuItem in menu
                    li.menu-item
                        a(
                            class=menuItem.class 
                            href=menuItem.link ? menuItem.link : '#' 
                            target=menuItem.target 
                            rel=menuItem.rel
                            data-url=menuItem.dataUrl
                        )= menuItem.name
        .main-header__hamburger.show-for-small
        div.main-header__hamburger-menu.show-for-small.hide
            ul.wrapper
                each menuItem in menu
                    li.menu-item
                            a(
                                class=menuItem.class 
                                href=menuItem.link ? menuItem.link : '#' 
                                target=menuItem.target 
                                rel=menuItem.rel
                                data-url=menuItem.dataUrl
                            )= menuItem.name

