doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title
            block title
        link(rel="stylesheet" href="assets/css/style.css")
        link(rel="shortcut icon" href="assets/images/favicon.png")
    body
        include _header
        block page-content
        include _footer
        script(src="assets/js/app.js")
