extends components/layout

block title
    | SOL Wallet | Contacts

block page-content
    main(role="main").contacts-page.centered
        .container
            h1 Contacts
            p Foreman Industries Corp, 019304

            .address
                .column
                    h2 Republic of South Africa
                    p 8 Villeria Place, Hurlingham Manor, Sandton, Johannesburg, Gauteng, 2070
                        br
                        a(href="mailto:ask@solwallet.org") ask@solwallet.org
                .column
                    h2 R&D
                    p Office 25, Klimentos Tower, Klimentos 41-43, Cyprus, Nicosia
                        br
                        a(href="mailto:support@solwallet.org") support@solwallet.org

            form.contact-form
                h2 We will answer your question
                .input-group
                    label(for="contact-email") E-mail
                    input(id="contact-email" name="email")
                .input-group
                    label(for="contact-message") Text
                    textarea(id="contact-message" name="message" rows="3")
                button(type="submit").button.button-solid send
