extends components/layout

block title
    | SOL Wallet
block page-content
    main(role="main").index-page.centered
        include components/index-page/_general-info
        include components/index-page/_faq
        include components/index-page/_dashboard
