.button {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: color(black);
    flex: 0 0 auto;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    padding: 2px 37px;
    max-width: 120px;
    padding-bottom: 0;
    line-height: 42px;
    border-radius: 24px;
    border: 2px solid color(primary);

    &:hover, &:focus {
        border-color: color(primary-hover);
    }

    &:active {
        background-color: color(primary-hover);
        border-color: color(primary-hover);
    }
}

.button-solid {
    @include webkit-no-touch-highlight;
    max-width: 224px;
    padding: 2px 38px;
    font-size: 18px;
    border-radius: 32px;
    text-transform: uppercase;
    background-color: color(primary);
    color: #fff;
    border: none;
    box-shadow: 0 13px 16px 0 #FFAA3A1C;

    &:hover, &:focus {
        background-color: color(primary-hover);
    }

    &:active {
        background-color: color(primary-active);
    }
}
