body {
    font-family: 'tt_norms', sans-serif;
    font-size: 18px;
    line-height: 24px;
    background-color: #fff;
    color: color(black);
}

img {
    width: 100%;
    height: auto;
}


h1, h2 {
    margin: 0;
}

h1 {
    font-size: 24px;
    line-height: 38px;
}

h2 {
    font-size: 24px;
    line-height: 32px;
}

h3 {
    font-size: 16px;
    line-height: 24px;
}

a {
    color: #0076FF;
    text-decoration: none;

    &:not([class]):hover {
        text-decoration: underline;
    }
}


button {
    font-family: inherit;
}

input, textarea {
    border-radius: 8px;
    outline: none;
    border: 2px solid #ECECF2;
    
    font-size: inherit;
    line-height: inherit;

    &:focus {
        border-color: color(primary);
    }
}

input {
    font-family: Arial;
    padding: 12px 16px;
}

textarea {
    font-family: monospace;
    padding: 12px 16px;
    padding-bottom: 16px;
    resize: none;
}

.input-group {
    display: flex;
    flex-flow: column;

    label {
        margin-left: 16px;
        font-size: 14px;
        line-height: 24px;
        font-weight: bold;
        color: #adadad;
    }
}

.menu-item a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.hidden {
    display: none !important;
}

.hide {
    height: 0px !important;
    width: 0px !important;
    opacity: 0 !important;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: space-between;
    padding: 20px 16px 48px;
}

@include breakpoint(small) {
    .container {
        padding: 24px 16px 56px;
    }

    h2 {
        line-height: 36px;
    }

    h3 {
        font-size: 20px;
        line-height: 30px;
    }
}

@include breakpoint(medium) {
    .container {
        width: 768px;
        padding: 32px;
        padding-bottom: 64px;
    }

    h1 {
        font-size: 40px;
        line-height: normal;
    }
    

    h2 {
        font-size: 32px;
        line-height: 44px;
    }

    h3 {
        font-size: 24px;
        line-height: 32px;
    }

    .centered {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}

@include breakpoint(large) {
    .container {
        width: 990px;
        padding: 48px 64px 72px;
    }

    h2 {
        font-size: 36px;
        line-height: 48px;
    }
}

@include breakpoint(xlarge) {
    .container {
        width: 1440px;
        padding: 56px 128px 96px;
    }

    h2 {
        font-size: 40px;
        line-height: 56px;
    }
}

