.contacts-page {
    .container {
        & > p {
            margin: 5px 0;
            font-size: 16px;
            line-height: 19px;
        }
    }

    .address {
        display: flex;
        flex-flow: column;

        .column {
            margin-top: 24px;

            p {
                margin: 0;
                font-size: 14px;
                line-height: 24px;
            }
        }
    }

    .address h2, .contact-form h2 {
        font-size: 18px;
        line-height: 24px;
    }
    
    .contact-form {
        margin-top: 48px;
        margin-bottom: 24px;
        display: flex;
        font-size: 14px;
        line-height: 24px;
        width: 100%;
        flex-flow: column;
        align-items: center;

        h2 {
            text-align: center;
            margin-bottom: 16px;
        }

        & > * {
            width: 100%;
        }

        .input-group {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .button {
            padding-top: 3px;
            padding-bottom: 1px;
            width: 192px;
            height: 64px;
            margin-top: 26px;
            letter-spacing: 2px;
        }
    }

    @include breakpoint(small) {
        .contact-form {
            margin-top: 56px;
            margin-bottom: 16px;
        }
    }

    @include breakpoint(medium) {
        .container {
            & > p {
                margin-top: 38px;
                margin-bottom: 0;
            }

            h2 {
                font-size: 24px;
                line-height: 48px;
            }

            .address {
                flex-flow: row;

                .column {
                    flex: 1 0 auto;
                    width: 50%;
                }
            }
        }

        .contact-form {
            margin-top: 64px;
            margin-bottom: 8px;
            font-size: 18px;
            line-height: 24px;
            align-self: center;
            width: 384px;

            input, textarea {
                padding: 20px 16px;
            }

            textarea {
                padding-bottom: 24px;
            }
        }
    }

    @include breakpoint(large) {
        .contact-form {
            margin-top: 72px;
            margin-bottom: 0;
        }
    }

    @include breakpoint(xlarge) {
        .container {
            padding-bottom: 72px;
        }

        .contact-form {
            margin-top: 96px;
        }
    }
}
