$breakpoints: (
    small: 480px,
    medium: 768px,
    large: 990px,
    xlarge: 1440px
);

$colors: (
    primary: #FF901A,
    primary-hover: #FFAA3A,
    primary-active: #FF771A,
    black: #000,
    gray: #D4D4DD,
    light-gray: #F6F6FA,
    dark-gray: #484668,
    red: #FF521A,
    green: #00DC8C
);
