@font-face {
    font-family: 'tt_norms';
    src: url('../fonts/tt-norms-regular.ttf') format('truetype'),
         url('../fonts/tt-norms-regular.woff2') format('woff2'),
         url('../fonts/tt-norms-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tt_norms';
    src: url('../fonts/tt-norms-bold.ttf') format('truetype'),
         url('../fonts/tt-norms-bold.woff2') format('woff2'),
         url('../fonts/tt-norms-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
