.main-footer {
    background-color: color(gray);
    
    .container {
        padding: 20px 16px 28px;
        flex-flow: column;
        align-items: flex-start;
    }

    &__logo {
        display: flex;
        flex-flow: column;
        min-width: 0;
        max-width: none;
        width: 56px;
    }

    &__socials {
        display: flex;
        margin-top: 20px;
        align-items: baseline;

        .socials-item {
            margin-right: 22px;
            width: 24px;
            height: 24px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__menu {
        display: flex;
        flex-flow: column;
        padding: 0;
        margin: 0;
        list-style: none;

        .menu-item {
            margin-top: 15px;
            
            a {
                text-decoration: none;
            }
        }
    }

    @include breakpoint(medium) {
        .container {
            padding: 16px 32px 32px;
            flex-flow: row;
        }

        &__logo {
            width: 64px;
        }

        .footer-section {
            flex: 1 1 auto;
        }

        &__menu {
            flex: 4 1 auto;
            flex-flow: row;
            justify-content: space-around;

            .menu-item {
                margin-top: 10px;
                margin-right: 25px;
                max-width: 320px;
                line-height: 1;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &__socials {
            margin-top: 32px;
    
            .socials-item {
                width: 18px;
                height: 18px;
            }
        }
    }

    @include breakpoint(large) {
        .container {
            padding: 16px 64px 32px;
        }
    }

    @include breakpoint(xlarge) {
        .container {
            padding: 16px 128px 32px;
        }
    }
}
