.main-header {
    .container {
        flex-flow: row;
        padding: 14px 16px;
        align-items: center;
    }
    
    &__logo {
        display: flex;
        flex-flow: column;
        min-width: 0;
        max-width: none;
        width: 64px;
    }

    &__menu {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-content: space-between;
        align-items: center;

        .menu-item {
            margin-right: 54px;
            outline: none;

            a {
                text-decoration: none;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__hamburger {
        width: 28px;
        height: 50px;
        cursor: pointer;
        background-image: url('../i/menu-open.svg');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;

        &.active {
            background-image: url('../i/menu-close.svg');    
        }

        &-menu {
            display: flex;
            flex-flow: column;
            align-items: center;
            box-sizing: border-box;
            overflow: hidden;
            margin: 13px 0;
            padding: 32px 0;
            border-radius: 20px;
            background-color: #FFFFFF;
            box-shadow: 0 42px 29px 0 #4846684C;
            z-index: 1;
            top: 72px;
            right: 0;
            position: absolute;
            width: 260px;
            height: 294px;
            transition-property: width, height, opacity, display;
            transition-duration: 0.2s;
            transition-timing-function: ease-out;
            transform-origin: top right;
            opacity: 1;

            .wrapper {
                margin: 0;
                padding: 0;
                width: 100%;
            }

            .menu-item {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                flex: 1 1 auto;
                width: 100%;
                font-size: 16px;
                line-height: 56px;
                font-weight: 700;

                a {
                    text-decoration: none;
                    padding: 10px 0;
                    width: 100%;

                    &.button {
                        width: 120px;
                        height: 48px;
                    }
                }

                &:hover {
                    background-color: color(light-gray);
                }

                &:last-child {
                    margin-top: 20px;
                    &:hover {
                        background-color: unset;
                    }
                }
                
            }
        }
    }

    @include breakpoint(medium) {
        .container {
            padding: 16px 24px;
        }
        
        &__logo {
            width: unset;
        }
    }

    @include breakpoint(large) {
        &__menu {
            .menu-item {
                margin-right: 64px;
            }
        }   
    }
}
