.index-page {
    & > section {
        display: flex;
        justify-content: center;
        background-color: color(light-gray);
        width: 100%;

        &:nth-child(2n) {
            background-color: #fff;
        }

        .container {
            flex-flow: column;
        }
    }
}

@import "components/index-page/general-info";
@import "components/index-page/faq";
@import "components/index-page/dashboard";
